<div *ngIf="hero">
  <mat-card>
    <mat-card-header>
      <mat-card-title color="primary">
        Details
      </mat-card-title>
      <mat-card-subtitle color="secondary">
        {{hero.name}}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div>
        <mat-form-field>
          <input matInput placeholder="Hero ID" value="{{hero.id}}" readonly />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput [(ngModel)]="hero.name" placeholder="Hero name" />
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="save()">Save</button>
      <button mat-raised-button (click)="goBack()">Cancel</button>
    </mat-card-actions>

  </mat-card>
</div>