<div *ngIf="getMessages().length" style="margin-top: 15px;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Messages
      </mat-card-title>
    </mat-card-header>

    <mat-card-actions>
      <button mat-raised-button class="clear" (click)="clear()">Clear</button>
    </mat-card-actions>

    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor='let message of getMessages()'>
          <pre>{{message}}</pre>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>