@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
* {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

pre {
  font-family: Courier New, Courier, monospace;
  padding: 0;
  margin: 0;
}

.mat-toolbar.center {
  display: flex;
  justify-content: center;
  align-content: center;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: inherit;
}